.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/cosmic.cable.limited.bg2025.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


.footer {
  padding: 1.5rem 1rem;
  text-align: center;
  width: 100%;
}

.footer a {
  display: inline-block;
  margin: 0.5rem 1rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.footer a i {
  margin-right: 0.5rem;
  color: white;
}

.footer a:hover {
  color: white;
}

@media (max-width: 600px) {
  .footer a {
    display: block;
    margin: 0.5rem 0;
  }
}

.text-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #fff;
}