body {
  background-color: #000;
}

.text-heading {
  text-align: center
  color: #FFF
}
.text {
  margin: auto;
  width: 54%;
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  color: #AFAFAF;
}

.header-image {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.section {
  padding: 52rem 0 52rem;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.categories {
  background-image: url('../assets/cosmic.cable.limited.background.jpg');
  background-size: cover;
  color: #444;
}

.categories .section-description {
  margin-bottom: 4rem;
}

.footer {
  display: flex;
  margin: auto;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  justify-content: space-between;
}
